
.full-container{
   margin:0px;
}
.header{
    background: url('images/back.jpg');
    background-size: 97% 149%;
    padding: 1% 2% 0% 2%;
}
.header h2 {
    color: #8DCF25;
    font-family: 'ChaletComprime CologneEighty';
    font-weight: normal;
    font-size: 5em;
    position: relative;
    top: 30px;
}
// .header img{
//     position: relative;
//     right: 6%;
// }
.logout>h4{
    text-align: right;
    color:white;
    font-size:16px;
}
.logout p{
    margin-right: 2%;
    margin-bottom: 20%;
}
.logout a {
    color:#fff;
    cursor:pointer;
    font-weight: normal;
    font-family: 'Montserrat-Regular';
}
.logout a:focus, .logout a:hover{
    color:  #8DCF25;
}
.forms{
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
}


.tabviews{
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 25px;
}


.tabviews>h2{
    position: absolute;
    font-family: 'ChaletComprime CologneEighty';
    font-weight: normal;
    color: #828282;
}

.school_info{
    padding-top: 35px;
}

.forms>h2{

    border-bottom: 1px solid #828282;
    padding-bottom: 1%;
    font-family: 'ChaletComprime CologneEighty';
    font-weight: normal;
    color: #828282;
}
.loc{
    margin-left: 2%;
    margin-right: 2%;
}
.btn>button{
    text-align: center;
    background: #8DCF25;
    border:1px solid #8DCF25;
}
.btn2>button{
    background: #8DCF25;
    border:1px solid #8DCF25;
}
.info{
    font-size: 1.4em;
    font-weight:normal;
}
.pinp{
    margin-right:1%;
}
.pinput{
    margin-right:1%;
}
.school{
    margin-bottom: 3%;
}
.bttons{
    margin-top: 1%;
}
.select-btn{
    margin-top:4%;
}
.add{
    color:#8DCF25;
    font-size: 16px;
}
.unorder{
    display: -webkit-inline-box;
}
.footer{
    color: white;
   background: -webkit-linear-gradient(#00253f, #004d88 , #00253f);
    margin-top: 3%;
    padding-top: 1%;
    padding-left: 3%;
    font-size: 1em;
}
.unorder>li{
    list-style:none;
    margin-right: 20%;
}
.footer-right{
    padding-left: 10% !important;
}


.ui-tabview .ui-tabview-panel{
    padding-top:3%;
}
.fa{
    width: 20px;
    height: 20px;
}
