<button pButton type="button" [disabled]="show" label="SAVE" class="ui-button-green"></button>

<div class="ui-grid ui-grid-responsive ui-grid-pad full-container">
<div class="ui-grid-row header">
    <!--<img src="images/Logo.png" width="110px">
            <h2>COPA PREFECTURA 2016</h2>

            <h4 class="text-right"> <p style="margin-right: 2%; color:#8DCF25">Logout</p><img src= "images/poweredBy.png"></h4>
            <p style="margin-right: 2%; color:#8DCF25">Logout</p>-->

  <div class="ui-grid-col-2">
      <img src="images/Logo.png" width="110px">
  </div>

    <div class="ui-grid-col-8 text-center">

        <h2>COPA PREFECTURA 2016</h2>

    </div>
    <div class="ui-grid-col-2 logout">
        <h4 class="text-right"><p style=""> <a (click)="logout()" >Logout</a></p><img src= "images/poweredBy.png"></h4>
    </div>
</div>
<form role="form" [ngFormModel]="registrationForm">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-col-12 forms">
            <h2>COMPLETA TU REGISTRATION</h2>
            <div class="ui-grid-row school_info">
                <div class="ui-grid-col-4 pinp">
                    <label>School Name</label><br><br>
                    <input type="text" pInputText #schoolName [value]="registrationDetailsIns.school_name" ngControl="school_name" [(ngModel)]="registrationDetailsIns.school_name"
                        placeholder="Nombre de escuela" [disabled]="schoolExit"/>
                </div>
                <div class="ui-grid-col-2 pinp loc">
                    <label>Location</label><br><br>
                    <p-autoComplete [suggestions]="filteredLocation" (completeMethod)="filterLocation($event)" (onSelect)='getLocation($event)'
                        (onDropdownClick)='getLocation($event)' [disabled]="schoolExit" [value]="registrationDetailsIns.location" field="location" [size]="30" placeholder="ubicación" [minLength]="1">
                    </p-autoComplete>
                </div>
                <div class="ui-grid-col-3 pinp">
                    <label>Select Zone</label><br><br>
                    <p-dropdown [options]="zoneList" [disabled]="schoolExit" [(ngModel)]="registrationDetailsIns.zone" [style]="{'width':'100%'}"></p-dropdown>
                </div>
                <div class="ui-grid-col-1 pinp btn">

                </div>
                <div class="ui-grid-col-2 pinp btn">
                    <label></label><br><br>
                    <button pButton type="button" *ngIf="!schoolExit" label="SAVE" class="ui-button-green" (click)="saveDetails(registrationDetailsIns)"></button>
                    <button pButton type="button" *ngIf="schoolExit" label="EDIT" class="ui-button-green" (click)="editDetails()"></button>

                </div>
            </div>
        </div>
    </div>
</form>
<div class="tabviews">
    <h2>Information Equipos</h2>
    <p-tabView (onChange)='getCategory($event)'>
        <!--<p-tabPanel header='Information Equipos'></p-tabPanel>-->
        <p-tabPanel *ngFor="let category of categoryList; let i=index" [header]='category.category' [selected]="i==0">
            <form role="form" [ngFormModel]="teamForm">
                <div class="ui-grid ui-grid-responsive ui-fluid">
                    <div class="ui-grid-col-4 school">
                        <label>School Team Name</label><br><br>
                        <input type="text" pInputText ngControl="team_name" disabled [(ngModel)]="teamDetailsIns.team_name" [value]='teamDetailsIns.team_name'
                            id="team_name" />
                    </div>
                    <div class="ui-grid-row" *ngFor="let player of playerList?.player_list; let i=index" style="padding-top:10px">
                        <div class="ui-grid-col-2 pinput">
                            <label>Nombre</label><br><br>
                            <input type="text" pInputText ngControl="name" [value]="player.name" maxlength="100" />
                        </div>
                        <div class="ui-grid-col-2 pinput">
                            <label>Cedula</label><br><br>
                            <input type="text" pInputText ngControl="ssn" [value]="player.ssn" maxlength="20" />
                        </div>
                        <div class="ui-grid-col-2 pinput" style="position: relative;">
                            <label>Cumpleanos</label><br><br>
                            <p-calendar [value]="player.dob" [showIcon]="true" style="text-indent: 30px;"></p-calendar>
                            <span class="fa fa-search" style="position: absolute; top: 24px; left: 7px; font-size: 15px;"></span>
                            <!-- <i class="fa fa-calendar"></i>-->
                        </div>
                        <div class="ui-grid-col-3 pinput">
                            <label>Email</label><br><br>
                            <input type="text" pInputText ngControl="email" [value]="player.email" maxlength="50" />
                        </div>
                        <div class="ui-grid-col-2 pinput">
                            <label>Celular</label><br><br>
                            <input type="text" pInputText ngControl="mobile" [value]="player.mobile" maxlength="10" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                            />
                        </div>
                        <div class="ui-grid-col-1">
                            <label></label><br><br>
                            <i class="fa fa-close" style="color:#8DCF25" (click)="removeExistedPlayer(player.id)"></i>
                        </div>
                    </div>
                    <div class="ui-grid-row" *ngFor="let player of teamDetailsIns.player_list; let i=index" style="padding-top:10px">
                        <div class="ui-grid-col-2 pinput">
                            <label>Nombre</label><br><br>
                            <input type="text" pInputText [(ngModel)]='player.name' />
                        </div>
                        <div class="ui-grid-col-2 pinput">
                            <label>Cedula</label><br><br>
                            <input type="text" pInputText id="ssn{{i}}" [(ngModel)]='player.ssn' />
                        </div>
                        <div class="ui-grid-col-2 pinput">
                            <label>Cumpleanos</label><br><br>
                            <!--<p-calendar id="dob{{i}}"><i class="fa fa-calendar"></i></p-calendar>-->
                            <p-calendar [id]='"dob"+i' [yearNavigator]=true yearRange='2000:2016' (onSelect)='datepicker($event, player)' dateFormat='yy-mm-dd'></p-calendar>
                        </div>
                        <div class="ui-grid-col-3 pinput">
                            <label>Email</label><br><br>
                            <input type="text" pInputText id="email{{i}}" [(ngModel)]='player.email' />
                        </div>
                        <div class="ui-grid-col-2 pinput">
                            <label>Celular</label><br><br>
                            <input type="text" pInputText id="mobile{{i}}" maxlength="10" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                [(ngModel)]='player.mobile' />
                        </div>
                        <div class="ui-grid-col-1" *ngIf="i==0"></div>
                        <div class="ui-grid-col-1" *ngIf="i>0">
                            <label></label><br><br>
                            <i class="fa fa-close" style="color:#8DCF25" (click)="removePlayer(i,player)"></i>
                        </div>
                    </div>
                    <div class="ui-grid-row bttons">
                        <div class="ui-grid-col-6 add">
                            <p style="color:#8DCF25;cursor:pointer"><a (click)="addNew()">+Add New</a></p>
                        </div>
                        <div class="ui-grid-col-6 select-btn">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-6 btn1">
                                    <button pButton type="button" label="OMITIR"></button>
                                </div>
                                <div class="ui-grid-col-6 btn2">

                                    <button pButton type="button" label="SUBMIT" (click)="createTeam()"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </p-tabPanel>
    </p-tabView>
</div>
<div class="ui-grid-row footer">
    <div class="ui-grid-col-6 ui-g-12">
        <p>Pelotaendo. Copyright2015. Todos los derechos reservados</p>
    </div>
    <div class="ui-grid-col-6 ui-g-12 footer-right">
        <ul class="unorder">
            <li>Condiciones de uso</li>
            <li>Contactos</li>
            <li>Publicidad</li>

        </ul>
    </div>
</div>
</div>


<!--<h1>Form1</h1>

<div class="ui-grid-row">
    <div class="ui-grid-col-12">
        <form role="form" [ngFormModel]="registrationForm">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-3">
                        <input type="text" pInputText ngControl="school_name" [(ngModel)]="registrationDetailsIns.school_name" placeholder="Nombre de escuela"
                        />
                    </div>
                    <div class="ui-grid-col-3">
                        <input type="text" pInputText ngControl="location" [(ngModel)]="registrationDetailsIns.location" placeholder="ubicación"
                        />
                    </div>
                    <div class="ui-grid-col-3">
                        <p-dropdown [options]="zoneList" [(ngModel)]="registrationDetailsIns.zone" [style]="{'width ':'150px '}"></p-dropdown>
                    </div>
                    <div class="ui-grid-col-3">
                        <button pButton type="button" label="Save" class="ui-button-green" (click)="saveDetails(registrationDetailsIns)"></button>
                    </div>
                </div>
            </div>
        </form>
        <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                <p-tabView>
                    <p-tabPanel *ngFor="let category of categoryList" [header]='category.category
                    '>
                        <form role="form" [ngFormModel]="registrationForm">
                            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-3">
                                        <input type="text" pInputText ngControl="school_name" [(ngModel)]="registrationDetailsIns.school_name" placeholder="Nombre de escuela"
                                        />
                                    </div>
                                    <div class="ui-grid-col-3">
                                        <input type="text" pInputText ngControl="location" [(ngModel)]="registrationDetailsIns.location" placeholder="ubicación"
                                        />
                                    </div>
                                    <div class="ui-grid-col-3">
                                        <p-dropdown [options]="zoneList" [(ngModel)]="registrationDetailsIns.zone" [style]="{'width ':'150px '}"></p-dropdown>
                                    </div>
                                    <div class="ui-grid-col-3">
                                        <button pButton type="button" label="Save" class="ui-button-green" (click)="saveDetails(registrationDetailsIns)"></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>
    </div>
</div>-->
