<div class="ui-grid ui-grid-responsive ui-grid-pad full-container">
    <div class="containers">
        <div class="ui-grid-row">
            <div class="ui-grid-col-12 head">
                <img src="images/logo.png" width="195px">
                <div>

                    <p>ÚNETE LA COMUNDIDAD</p>
                    <h1>MÁS GRANDE DE FÚTBOL</h1>
                </div>
            </div>
        </div>
        <div class="ui-grid-row section">

            <div class="ui-g-8 ui-md-8 ui-sm-8 Signup-wrapper"><!-- -left-section-->
                <div class="ui-grid-row">
                    <div class="ui-g-12 ui-md-4  ui-sm-12 sign-grid">
                        <img src="images/1.png" alt="">
                        <h4>RESERVA CANCHES</h4>
                        <p class="res1 ">Lorem ipsum isset is a dummy data lorem ipsum data Lorem ipsum </p>
                    </div>
                    <div class="ui-g-12 ui-md-4 ui-sm-12 sign-grid">
                        <img src="images/2.png" alt="">
                        <h4 >JUEGO EN TORNEOS</h4>
                        <p class="res1">Lorem ipsum isset is a dummy data lorem ipsum data Lorem ipsum </p>
                    </div>
                    <div class="ui-g-12 ui-md-4 ui-sm-12 sign-grid">
                        <img src="images/3.png" alt="">
                        <h4>RETA A EQUIPOS</h4>
                        <p class="res1">Lorem ipsum isset is a dummy data lorem ipsum data Lorem ipsum </p>
                    </div>
                </div>
                 <div class="ui-grid-row icons">
                    <div class="ui-g-12 ui-sm-12 ui-md-12">
                        <h3>ENTÉRATE DE LAS ÚLTIMAS NOTICIAS</h3>
                        <p><i class="fa fa-facebook"></i>
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-instagram"></i>
                            <i class="fa fa-youtube"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="ui-g-4 ui-md-4 ui-sm-4">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <div class="ui-grid-row footer">
        <div class="ui-grid-col-6 ui-g-12">
            <p>&copy; 2016 Pelotaendo. Todos los derechos reservados</p>
        </div>
        <div class="ui-grid-col-6 ui-g-12 footer-right">
            <ul class="unorder">
                <!--<li>Condiciones de uso</li>-->
                <!--<li>Contactos</li>-->
                <!--<li>Publicidad</li>-->

            </ul>
        </div>
    </div>
</div>