.full-container{
    background: url('images/back.jpg');
    background-size: 100% 100%;
    padding-top: 2%;
}

//******* Top content *******//
.head{
    text-align:center;
}

.head h1{
    color: #8dcf24;
    font-family: 'ChaletComprime CologneEighty';
    line-height: .8em;
    font-weight: normal;
}
.head{
    padding-top: 3%;
}

.head div {
    padding-top: 1%;
}
.head p{
    color:white;
    font-family: 'ChaletComprime CologneEighty';
    font-size: 2.5em;
}
//******* Top content *******//


//***** middle section *****//
.section{
    padding: 25px 0px 25px 0px;
}
//***** middle section *****//


//***** middle left section *****//
.left-section{
    margin-right: 5%;
}
.sign-grid{
    text-align: center;
    padding: 2%;
    color:white;
}
.sign-grid>img{
    margin-bottom: 6%;
}
.icons{
    color: white;
    text-align: center;
    padding-top: 10%;
}
.icons h3{
    color: #8dcf24;
    font-family: 'ChaletComprime CologneEighty';
    font-size: 3.5em;
    font-weight: normal;
}
.fa{
    background: #113861;
    font-size: 24px;
    border-radius: 50%;
    padding: 7px;
    margin:1%;
}
//***** middle left section *****//

//***** Footer ******//
.footer{
    color: white;
    background: -webkit-linear-gradient(#00253f, #004d88 , #00253f);
    font-size: 1em;
}
.footer p{
    margin: 12px 0 12px 40px;
}
.footer-right{
    padding-left: 10% !important;
}
.footer-right ul{
    position: absolute;
    right: 11%;
}
.unorder{
    display: -webkit-inline-box;
}
.unorder>li{
    list-style:none;
    margin-right: 20%;
}
//***** Footer ******//


@media screen and (min-width:320px) and (max-width:600px){
    .head div>h1{
        line-height: 1;
    }
}
@media screen and (min-width:1000px) and (max-width:1800px){
.containers{
        width:90%;
        margin: 0 auto;
    }
}
@media screen and (min-width:320px) and (max-width:1000px){
.containers{
        width:95%;
        margin: 0 auto;
    }
}

// @font-face {
// font-family: HomeHeader;
// src: url(fonts/fonts.ttf);
// }
// @font-face {
// font-family: HomeHeader1;
// src: url(fonts/Montserrat-Regular.ttf);
// }


// h1{
// font-family:HomeHeader;
// }
// .res{
//   font-family:HomeHeader;
//   font-size:2em;  
// }
// .res1{
//     font-size: 1em;
//     font-family:HomeHeader1;
//     line-height: 1.5em; 
// }
// .text-head>p{
//     font-family:HomeHeader;
//     font-size:2.5em;
// }
// .ress{
//     font-family:HomeHeader;
//     font-size:2.5em;
// }
// .footer{
//     font-family:HomeHeader1;

// }

.Signup-wrapper{
    display: table-cell;
    /* width: 500px; */
    /* height: 500px; */
    vertical-align: middle;
    text-align: center;
}
.Signup-wrapper h4{
    font-family: 'ChaletComprime CologneEighty';
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 8px 0;
}
.Signup-wrapper p{
    font-size: 1em;
    font-weight: normal;
}
