<div class="ui-grid-row footer">
    <div class="ui-grid-col-6 ui-g-12">
        <p>&copy; 2016 Pelotaendo. Todos los derechos reservados</p>
    </div>
    <div class="ui-grid-col-6 ui-g-12 footer-right">
        <ul class="unorder">
            <!--<li>Condiciones de uso</li>-->
            <!--<li>Contactos</li>-->
            <!--<li>Publicidad</li>-->
        </ul>
    </div>
</div>