//***** Footer ******//
.footer{
    color: white;
    background: -webkit-linear-gradient(#00253f, #004d88 , #00253f);
    font-size: 1em;
}
.footer p{
    margin: 12px 0 12px 40px;
}
.footer-right{
    padding-left: 10% !important;
}
.footer-right ul{
    position: absolute;
    right: 11%;
}
.unorder{
    display: -webkit-inline-box;
}
.unorder>li{
    list-style:none;
    margin-right: 20%;
}
//***** Footer ******//