<div class="login_outer_style">
    <div class="ui-grid-row heading">
        <div class="ui-grid-col-12">
            <h2>SIGN UP</h2>
        </div>
    </div>

    <div class="ui-grid-row social-button">
        <div class="ui-grid-col-12 fb">
            <button pButton type="button" label="Facebook" class="ui-button-blue"></button>
        </div>
    </div>
    <p class="or">OR</p>
    <form role="form" [ngFormModel]="signupForm" id="auth">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
            <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                    <input type="text" pInputText placeholder="Nombre" ngControl="first_name" [(ngModel)]="userObj.first_name" maxlength="80"
                    />
                </div>
            </div>
            <div class="ui-grid-row ">
                <div class="ui-grid-col-12">
                    <input type="text" pInputText placeholder="Email" ngControl="email" [(ngModel)]="userObj.email" />
                </div>
            </div>

            <div class="ui-grid-row ">
                <div class="ui-grid-col-12 ">
                    <input type="text" pInputText placeholder="Contrasena" ngControl="password" [(ngModel)]="userObj.password" />
                </div>
            </div>
            <div class="ui-grid-row ">
                <div class="ui-grid-col-12 ">
                    <input type="number" pInputText placeholder="Celular" ngControl="mobile" [(ngModel)]="userObj.mobile" maxlength="10" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                </div>    
            </div>
            <div class="ui-grid-row ">
                <div class="ui-grid-col-12">
                    <input type="text" pInputText placeholder="Cedula" ngControl="ssn" [(ngModel)]="userObj.ssn" />
                </div>
            </div>
        </div>
        
        <div class="ui-grid-row terms_conditions">
            <div class="ui-grid-col-1">
                <p-checkbox></p-checkbox>
            </div>
            <div class="ui-grid-col-10"><label class="ui-widget">He leido y acepto las <small>conditions de uso</small> y la <small>Politica de privacidad</small></label></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-12 auth">
                <button pButton type="button" label="CREA UNA CUENTA" class="ui-button-green" [disabled]="!signupForm.value" (click)="signup(userObj)"></button>
            </div>
        </div>
     </form>   
     
<div class="ui-grid-row footer">

    <div class="ui-grid-col-12 ">
        <p><span>   Ya tlenes una cuenta?</span>
            <a [routerLink]="['/home', 'login']" style="text-decoration: none;color: #8DCF25;font-size: 1em;font-weight:normal;">
                Sign In!
            </a>
        </p>
    </div>
</div>
</div>