input { 
    width: 96%;
}

.heading{

    padding: 8px 0px 8px 0px;
}
.heading h2 {
    color: #8dcf24;
    font-family: 'ChaletComprime CologneEighty';
    font-weight: normal;
}

.footer{
     padding: 0px 0px 15px 0px;
     
}


.terms_conditions{
    padding: 20px 0px 10px 0px;
    text-align: left;

    // color: #828282;
}

.terms_conditions small {

    color: #8DCF25;
    font-weight: normal;
    font-size: 1em;

}

.or{
     padding: 10px 0px 10px 0px;
}

.social-button button {
    // padding : 0 10px;
}

#auth .ui-grid.ui-grid-pad>.ui-grid-row>div {
    padding: 5px 10px;
    
}
