<!--<div style="text-align: center;margin: 50px;">

    <div>
        <input type="input" placeholder="User" class="iput" [(ngModel)]="userKey.user">
    </div>
    <div>
        <input type="input" placeholder="key" class="iput" [(ngModel)]="userKey.key">
    </div>
    <div>
        <input type="button" value="Submit" (click)=verifyKey() style="padding: 8px;
    padding-left: 50px;padding-right: 50px;color: white; background-color: #536f86;
    border: 2px solid; border-color: #3F51B5; border-radius: 26px;" />
    </div>
</div>
<div *ngIf="aToken !=null && aToken !=undefined" style="text-align: center;margin: 50px;">
    <div>
        <input type="text" value={{aToken}} class="in" />
        <input type="text" value={{uid}} class="in" />
        <input type="text" required [(ngModel)]="newPass" class="in" placeholder="New pasword here" />
    </div>
    <input type="button" (click)=setPassword() value="update" style="margin-top: 20px;" />

</div>-->

<div class="ui-grid ui-grid-responsive full-container">
  <div class="containers">
      <div class="ui-grid ui-grid-responsive ui-fluid">
    <div class="ui-grid-row">
      <div class="ui-grid-col-12 head">
        <img src="images/logo.png" width="195px">
        
      </div>
    </div>
    <div class="ui-grid-row reset">
        <div class="ui-grid-col-12 heading">
          <h2>RESET PASSWORD</h2>
        <div  class="ui-grid-col-12 email mont">
            <input type="password" pInputText placeholder="New password" [(ngModel)]="userDetailsIns.new_password"/>
        </div>
         <div class="ui-grid-col-12 contact mont">
            <input type="password" pInputText placeholder="confirm password" [(ngModel)]="userDetailsIns.confirm_password"/>
        </div>
        <div class="ui-grid-col-12 reset-btn mont">
             <button pButton type="button" label="INGRESAR" (click)=setPassword(userDetailsIns)></button>
        </div>
      </div>
      </div>
      </div>
    </div>

</div>