
.head{
    padding-top: 3%;
    padding-bottom: 4%;
    text-align:center;
}
.full-container{
    background: url('images/back.jpg');
    background-size: 100% 100%;
    padding-top: 2%;
    height: 100%;
}
.reset{
    olor: black;
    background: white;
    padding: 2% 2% 4% 2%;
    text-align: center;
    border-radius: 25px;
    width: 39%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 25%;
}
.contact{
    margin-top: 4%;
    margin-bottom: 4%;
}
.reset-btn>button{
    background: #8DCF25;
    border:1px solid #8DCF25;

}