/************* font family ******************/
@font-face {
    font-family: 'ChaletComprime CologneEighty';
    src: url('fonts/ChaletComprimeCologneEighty/ufonts.com_chaletcomprime-cologneeighty.eot') format('embedded-opentype'), /* IE6-IE8 */
    url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/ChaletComprimeCologneEighty/ufonts.com_chaletcomprime-cologneeighty.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/ChaletComprimeCologneEighty/ufonts.com_chaletcomprime-cologneeighty.ttf') format('truetype'), /* Safari, Android, iOS */
    url('webfont.svg#svgFontName') format('svg');
    /* Legacy iOS */
    /* src fallbacks ommitted for brevity */
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('fonts/MontserratRegular/Montserrat-Regular.eot') format('embedded-opentype'), /* IE6-IE8 */
    url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/MontserratRegular/Montserrat-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/MontserratRegular/Montserrat-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('webfont.svg#svgFontName') format('svg');
    /* Legacy iOS */
    /* src fallbacks ommitted for brevity */
}

/************* font family ******************/


/*********** common css *************/

html {
    font-family: 'Montserrat-Regular';
    font-size: 12px;
    margin: 0;
}

body {
    font-family: 'Montserrat-Regular';
    font-size: 12px;
    margin: 0;
    color: #373a3c;
     background-color: #fff;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

h1 {
    font-family: inherit;
    font-size: 5em;
    margin: 0;
}

h2 {
    font-family: inherit;
    font-size: 2.5em;
     margin: 0;
}
h3 {
    font-family: inherit;
    font-size: 2em;
     margin: 0;
}
h4 {
    font-family: inherit;
    font-size: 1em;
     margin: 0;
}
h5 {
    font-family: inherit;
    font-size: 0.8em;
     margin: 0;
}
p{
    margin: 0;
}

label{
    margin: 0;
    color: #828282;
    padding-left: 15px;
    font-size: 1.1em;   
}

span{
    margin: 0;
}

.auto_margin{
    padding:10px 10px;
}
.auto_padding{
    padding-top: 10px;
}

/*********** common css *************/


/************* Input field *************/

.ui-inputtext {
    width: 100%;
    font-weight: normal;
    border-radius: 25px;
    border: 1px solid #cfcfcf;
    height: 35px;
    font-family: inherit;
    /* font-size: 1em; */
    background: #f2f2f2;
    color: #828282;
    padding: 5px 15px;
    font-size: 1.1em;
}

.ui-inputtext:hover{
  border:1px solid #a4a4a4;
}
.ui-inputtext:focus{
border:1px solid #8DCF25;
}


.ui-widget-header .ui-inputtext,
.ui-widget-content .ui-inputtext {
    font-weight: normal;
}

.ui-fluid .ui-inputtext {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}
.ui-inputtextarea-resizable {
    overflow: hidden;
    resize:none;
}

.ui-fluid .ui-inputtextarea {
    width: 100%;
}

.ui-inputtext .ui-state-default, .ui-inputtext .ui-widget-content .ui-state-default, .ui-inputtext .ui-widget-header .ui-state-default {
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -ms-linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.ui-inputtext .ui-state-hover, .ui-inputtext .ui-widget-content .ui-state-hover, .ui-inputtext .ui-widget-header .ui-state-hover,
.ui-inputtext .ui-state-active, .ui-inputtext .ui-widget-content .ui-state-active, .ui-inputtext .ui-widget-header .ui-state-active,
.ui-inputtext .ui-state-disabled, .ui-inputtext .ui-widget-content .ui-state-disabled, .ui-inputtext .ui-widget-header .ui-state-disabled {
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.ui-inputtext .ui-state-active, .ui-inputtext .ui-widget-content .ui-state-active, .ui-inputtext .ui-widget-header .ui-state-active {
  background-color: #cccccc \9;
}

.ui-inputtext .ui-state-hover, .ui-inputtext .ui-widget-content .ui-state-hover, .ui-inputtext .ui-widget-header .ui-state-hover {
  color: #333333;
text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
      -ms-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.ui-inputtext .ui-state-focus, .ui-inputtext .ui-widget-content .ui-state-focus, .ui-inputtext .ui-widget-header .ui-state-focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.ui-inputtext .ui-state-active, .ui-inputtext .ui-widget-content .ui-state-active, .ui-inputtext .ui-widget-header .ui-state-active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.ui-inputtext .ui-state-disabled, .ui-inputtext .ui-widget-content .ui-state-disabled, .ui-inputtext .ui-widget-header .ui-state-disabled {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.ui-inputtext .ui-state-default, .ui-inputtext .ui-widget-content .ui-state-default, .ui-inputtext .ui-widget-header .ui-state-default {
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
/************* Input field *************/



/************** button ***************/

.ui-button {
    display: inline-block;
    position: relative;
    padding: 5px;
    margin-right: .1em;
    text-decoration: none !important;
    cursor: pointer;
    text-align: center;
    zoom: 1;
    overflow: visible;
    border-radius: 25px;
    color: white;
    width: 100%;
    font-size: 1.2em;
    border: none;
    outline: none;

}

button.ui-button.ui-button-green {
     background-color:#8DCF25 ;
}

button.ui-button.ui-button-blue {
     background-color:#4D67A0 ;
}

.ui-button-icon-only {
    width: 2.4em;
}

/*button text element */
.ui-button .ui-button-text {
    display: block;
    line-height: normal;
}

.ui-button-text-only .ui-button-text {
    padding: .3em 1em;
}

.ui-button-icon-only .ui-button-text {
    padding: .3em;
    text-indent: -9999999px;
}

.ui-button-text-icon-left .ui-button-text {
    padding: .3em 1em .3em 2.1em;
}

.ui-button-text-icon-right .ui-button-text {
    padding: .3em 2.1em .3em 1em;
    outline:none;
}

/*button icon element(s) */
.ui-button-icon-only .fa,
.ui-button-text-icon-left .fa,
.ui-button-text-icon-right .fa {
    position: absolute;
    top: 50%;
    margin-top: -7px;
}

.ui-button-icon-only .fa {
    left: 50%;
    margin-left: -8px;
}

.ui-button-icon-left {
    left: .5em;
}

.ui-button-icon-right {
    right: .5em;
}

/*button sets*/
.ui-buttonset {
    margin-right: 7px;
}
.ui-buttonset .ui-button {
    margin-left: 0;
    margin-right: 0;
}

/*.auth>button{
    background: #8DCF25;
    border:1px solid #8DCF25;
}*/
.auth>button:focus{
    background:#6da70f;
}
.auth>button:hover{
    background:#a6de4a;
}
.fb>button:focus{
    background:#29487d;
}
.fb>button:hover{
    background:#365899;
}




/************** button ***************/

/************** tabview  ************/
.ui-tabview {
    position: relative; 
    padding: .2em; 
    zoom: 1; 
} /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */

.ui-tabview .ui-tabview-nav { 
    margin: 0;
}

.ui-tabview .ui-tabview-nav li { 
    list-style: none; 
    float: left; 
    position: relative; 
    margin: 0 .2em 1px 0;  
    padding: 0; 
    white-space: nowrap; 
}

.ui-tabview .ui-tabview-nav li a { 
    float: left; 
    padding: .5em 1em; 
    text-decoration: none; 
}

.ui-tabview .ui-tabview-nav li.ui-tabview-selected a, 
.ui-tabview .ui-tabview-nav li.ui-state-disabled a, 
.ui-tabview .ui-tabview-nav li.ui-state-processing a { 
    cursor: text; 
}

.ui-tabview .ui-tabview-nav li a, 
.ui-tabview.ui-tabview-collapsible .ui-tabview-nav li.ui-tabview-selected a { 
    cursor: pointer; 
} /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */

.ui-tabview .ui-tabview-panel { 
    border-width: 0; 
    padding: 1em 1.4em; 
    background: none; 
}

.ui-tabview .ui-tabview-nav li { 
    display: block; 
}

.ui-tabview .ui-tabview-nav li .ui-tabview-left-icon,
.ui-tabview .ui-tabview-nav li .ui-tabview-right-icon { 
    vertical-align: text-top;
}

.ui-tabview .ui-tabview-nav li .ui-tabview-close { 
    margin: 0.5em 0.3em 0 0; 
    cursor: pointer; 
}

/* per orientation settings */
/* top and bottom */
.ui-tabview.ui-tabview-top > .ui-tabview-nav li { 
    border-bottom: 0;
    top: 1px; 
}

.ui-tabview.ui-tabview-top > .ui-tabview-nav { 
    padding:  0; 
}

.ui-tabview.ui-tabview-bottom > .ui-tabview-nav { 
    padding: 0 .2em .2em; 
}

.ui-tabview.ui-tabview-bottom > .ui-tabview-nav li { 
    border-top: 0;
}

/* left and right*/
.ui-tabview-left:after,
.ui-tabview-right:after {
    clear:both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.ui-tabview-left > .ui-tabview-nav {
    float:left;
    width:23%;
    height:300px;
    background-image: none;
    padding-top:1px;
}

.ui-tabview-left > .ui-tabview-panels {
    float:right;
    width:75%;
}

.ui-tabview.ui-tabview-left > .ui-tabview-nav li,
.ui-tabview.ui-tabview-right > .ui-tabview-nav li{
    display: block;
    float: right;
    white-space: normal;
    width: 98%;
}

.ui-tabview.ui-tabview-left > .ui-tabview-nav li {
    margin:0 0 1px 0.2em;
    border-right:0 none;
}

.ui-tabview.ui-tabview-right > .ui-tabview-nav {
    float:right;
    width:23%;
    height:300px;
    background-image: none;
    padding-top:1px;
}

.ui-tabview.ui-tabview-right > .ui-tabview-panels {
    float:left;
    width:75%;
}

.ui-tabview.ui-tabview-right > .ui-tabview-nav li {
    margin:0 0.2em 1px 0;
    border-left:0 none;
}

/** TabView **/
.ui-tabview.ui-widget-content {
    background: transparent none;
    border: 0;
    border-radius: 0;
}

.ui-tabview .ui-tabview-nav.ui-widget-header {
    background: transparent none;
    border-radius: 0;
}

.ui-tabview .ui-tabview-nav.ui-widget-header li {
    line-height: 18px;
    background: transparent none;
    border: 1px solid #DDDDDD;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 0;
}

.ui-tabview .ui-tabview-nav.ui-widget-header li a {
    line-height: 18px;
    padding-bottom: 8px;
    padding-top: 8px;
    color: #828282;
    font-weight: normal;
    border: 0px none;
}

.ui-tabview .ui-tabview-nav.ui-widget-header li.ui-state-hover {
    text-decoration: none;
    background-color: #eeeeee;
    border-color: #eeeeee #eeeeee #dddddd;
    color: #005580;
}

.ui-tabview .ui-tabview-nav.ui-widget-header li.ui-state-active {
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    color: #555555;
    cursor: default;
}

.ui-tabview .ui-tabview-nav li .ui-icon {
    margin: 0.6em 0.2em 0 0 !important;
}

.ui-tabview.ui-tabview-top .ui-tabview-nav.ui-widget-header {
    border-bottom: 1px solid #DDDDDD;
}

.ui-tabview.ui-tabview-top {
    border-bottom: 1px solid #DDDDDD;
}

.ui-tabview.ui-tabview-top .ui-tabview-nav.ui-widget-header li.ui-state-active {
    border-color: #DDDDDD #DDDDDD transparent #DDDDDD;
}

.ui-tabview.ui-tabview-top .ui-tabview-nav.ui-widget-header li {
    border-radius: 4px 4px 0 0;
    position: relative;
    left: 15%;
    background: rgb(242, 242, 242);
}

.ui-tabview.ui-tabview-top .ui-tabview-nav.ui-widget-header li.ui-state-active {
    margin-bottom: -1px;
    background: white;
}

.ui-tabview.ui-tabview-bottom .ui-tabview-nav.ui-widget-header {
    border-top: 1px solid #DDDDDD;
}

.ui-tabview.ui-tabview-bottom {
    border-top: 1px solid #DDDDDD;
}

.ui-tabview.ui-tabview-bottom .ui-tabview-nav.ui-widget-header li.ui-state-active {
    border-color: transparent #DDDDDD #DDDDDD #DDDDDD;
}

.ui-tabview.ui-tabview-bottom .ui-tabview-nav.ui-widget-header li {
    border-radius: 0 0 4px 4px;
}

.ui-tabview.ui-tabview-bottom .ui-tabview-nav.ui-widget-header li.ui-state-active {
    margin-top: -1px;
}

.ui-tabview.ui-tabview-left .ui-tabview-nav.ui-widget-header {
    border-right: 1px solid #DDDDDD;
}

.ui-tabview.ui-tabview-left {
    border-right: 1px solid #DDDDDD;
}

.ui-tabview.ui-tabview-left .ui-tabview-nav.ui-widget-header li.ui-state-active {
    border-color: #DDDDDD transparent #DDDDDD #DDDDDD;
}

.ui-tabview.ui-tabview-left .ui-tabview-nav.ui-widget-header li {
    border-radius: 4px 0 0 4px;
}

.ui-tabview.ui-tabview-left .ui-tabview-nav.ui-widget-header li.ui-state-active {
    margin-right: -1px;
}

.ui-tabview.ui-tabview-right .ui-tabview-nav.ui-widget-header {
    border-left: 1px solid #DDDDDD;
}

.ui-tabview.ui-tabview-right {
    border-left: 1px solid #DDDDDD;
}

.ui-tabview.ui-tabview-right .ui-tabview-nav.ui-widget-header li.ui-state-active {
    border-color: #DDDDDD #DDDDDD #DDDDDD transparent;
}

.ui-tabview.ui-tabview-right .ui-tabview-nav.ui-widget-header li {
    border-radius: 0 4px 4px 0;
}

.ui-tabview.ui-tabview-right .ui-tabview-nav.ui-widget-header li.ui-state-active {
    margin-left: -1px;
}





/************** tabview  ************/

/********** dropdown ***********/
.ui-dropdown {
    display: inline-block;
    position: relative;
    width: auto;
    zoom: 1;
    cursor: pointer;
    padding-right: 0em;
    border:1px solid #cfcfcf;
    border-radius:25px;
}
.ui-dropdown:hover{
    border:1px solid #a4a4a4;
}
.ui-dropdown:active{
    border:1px solid #8DCF25;
}
.ui-dropdown .ui-dropdown-trigger {
    border-right: none;
    border-top: none;
    border-bottom: none;
    cursor: pointer;
    width: 16px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 3px;
}

.ui-dropdown .ui-dropdown-trigger .fa {
    margin-top: 12px;
    margin-left: -1px;
}

.ui-dropdown .ui-dropdown-label  {
    display: block;
    border: none;
    white-space: nowrap;
    overflow: hidden;
    font-weight: normal;
    width: 100%;
    float:left;
}

.ui-dropdown.ui-state-disabled .ui-dropdown-trigger,
.ui-dropdown.ui-state-disabled .ui-dropdown-label {
    cursor: default;
}

.ui-dropdown label.ui-dropdown-label  {
    cursor: pointer;
}

.ui-dropdown input.ui-dropdown-label  {
    cursor: default;
}

.ui-dropdown .ui-dropdown-panel {
    min-width: 100%;
}

.ui-dropdown-panel {
    position: absolute;
    height: auto;
}

.ui-dropdown-panel .ui-dropdown-items-wrapper {
    overflow: auto;
}

.ui-dropdown-panel .ui-dropdown-item {
    font-weight: normal;
    border:0px none;
    cursor:pointer;
    margin:1px 0;
    padding:3px 5px;
    text-align:left;
}
.ui-dropdown-panel .ui-dropdown-item-group {
    font-weight: bold;
}
.ui-dropdown-panel .ui-dropdown-list {
    padding: 0.4em;
    border: 0 none;
}
.ui-dropdown-panel .ui-dropdown-filter {
    width: 100%;
    padding-right:18px;
    box-sizing: border-box;
}
.ui-dropdown-panel .ui-dropdown-filter-container {
    position: relative;
    margin: 0;
    padding: 0.4em;
    display: inline-block;
}
.ui-dropdown-panel .ui-dropdown-filter-container .fa {
    position: absolute;
    top: 12px;
    right: 15px;
}

.ui-fluid .ui-dropdown {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.ui-fluid .ui-dropdown .ui-dropdown-trigger {
  width: 32px;
  padding: 0 6px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.ui-dropdown .ui-state-default, .ui-dropdown .ui-widget-content .ui-state-default, .ui-dropdown .ui-widget-header .ui-state-default {
  background-color: transparent;
  /*background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#868686),color-stop(100%,#666666));
  background:-webkit-linear-gradient(#868686,#666666);
  background:-moz-linear-gradient(#868686,#666666);
  background:-ms-linear-gradient(#868686,#666666);
  background:-o-linear-gradient(#868686,#666666);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#868686', endColorstr='#666666');
  -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#868686', endColorstr='#666666');
  background:linear-gradient(#868686,#666666);*/
  outline: 0;
  /*border:1px solid #262626;*/
  color: #8DCF25;
  font-weight: bold;
}

.ui-dropdown .ui-state-default a, .ui-dropdown .ui-state-default a:link, .ui-dropdown .ui-state-default a:visited {
  color: #dddddd;
  text-decoration: none;
}

.ui-dropdown .ui-state-hover, .ui-dropdown .ui-widget-content .ui-state-hover, .ui-dropdown .ui-widget-header .ui-state-hover {
  background-color: transparent;
  /*background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#99a699),color-stop(100%,#778877));
  background:-webkit-linear-gradient(#99a699,#778877);
  background:-moz-linear-gradient(#99a699,#778877);
  background:-ms-linear-gradient(#99a699,#778877);
  background:-o-linear-gradient(#99a699,#778877);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#99a699', endColorstr='#778877');
  -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#99a699', endColorstr='#778877');
  background:linear-gradient(#99a699,#778877);*/
  outline: 0;
  /*border:1px solid #3c443c;*/
  color: #8DCF25;
  font-weight: bold;
}

.ui-dropdown .ui-state-hover a, .ui-dropdown .ui-state-hover a:hover {
  color: #eeffee;
  text-decoration: none;
}

.ui-dropdown .ui-state-active, .ui-dropdown .ui-widget-content .ui-state-active, .ui-dropdown .ui-widget-header .ui-state-active {
  background-color: transparent;
  /*background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#6A5C6A),color-stop(100%,#8B798B));
  background:-webkit-linear-gradient(#6A5C6A,#8B798B);
  background:-moz-linear-gradient(#6A5C6A,#8B798B);
  background:-ms-linear-gradient(#6A5C6A,#8B798B);
  background:-o-linear-gradient(#6A5C6A,#8B798B);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6A5C6A', endColorstr='#8B798B');
  -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6A5C6A', endColorstr='#8B798B');
  background:linear-gradient(#6A5C6A,#8B798B);*/
  outline: 0;
  /*border:1px solid #000000;*/
  color: #DDDDDD;
  font-weight: bold;
}

.ui-dropdown .ui-state-active a, .ui-dropdown .ui-state-active a:link, .ui-dropdown .ui-state-active a:visited {
  color: #DDDDDD;
  text-decoration: none;
}

.ui-dropdown .ui-widget:active {
  outline: none;
}

.ui-dropdown .ui-state-highlight, .ui-dropdown .ui-widget-content .ui-state-highlight, .ui-dropdown .ui-widget-header .ui-state-highlight {
  background-color: #8DCF25;
  /*background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#99a699),color-stop(100%,#778877));
  background:-webkit-linear-gradient(#99a699,#778877);
  background:-moz-linear-gradient(#99a699,#778877);
  background:-ms-linear-gradient(#99a699,#778877);
  background:-o-linear-gradient(#99a699,#778877);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#99a699', endColorstr='#778877');
  -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#99a699', endColorstr='#778877');
  background:linear-gradient(#99a699,#778877);*/
  outline: 0;
  /*border:1px solid #3c443c;*/
  color: #eeffee;
  /*-moz-box-shadow:0 0 8px #66cc00 ;
  -webkit-box-shadow:0 0 8px #66cc00 ;
  box-shadow:0 0 8px #66cc00 ;*/
}

.ui-dropdown .ui-state-highlight a, .ui-dropdown .ui-widget-content .ui-state-highlight a, .ui-dropdown .ui-widget-header .ui-state-highlight a {
  color: #baff75;
}

.ui-dropdown .ui-state-error, .ui-dropdown .ui-widget-content .ui-state-error, .ui-dropdown .ui-widget-header .ui-state-error {
  background-color: #cc6666;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dc9696), color-stop(100%, #cc6666));
  background: -webkit-linear-gradient(#dc9696, #cc6666);
  background: -moz-linear-gradient(#dc9696, #cc6666);
  background: -ms-linear-gradient(#dc9696, #cc6666);
  background: -o-linear-gradient(#dc9696, #cc6666);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#dc9696', endColorstr='#cc6666');
  -ms-filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#dc9696', endColorstr='#cc6666');
  background: linear-gradient(#dc9696, #cc6666);
  outline: 0;
  border: 1px solid #862d2d;
  color: #ffffff;
  font-weight: bold;
  border-width: 2px;
  -moz-box-shadow: 0 0 8px #862d2d;
  -webkit-box-shadow: 0 0 8px #862d2d;
  box-shadow: 0 0 8px #862d2d;
}

.ui-dropdown .ui-state-error a, .ui-dropdown .ui-widget-content .ui-state-error a, .ui-dropdown .ui-widget-header .ui-state-error a {
  color: #baff75;
}

.ui-dropdown .ui-priority-primary, .ui-dropdown .ui-widget-content .ui-priority-primary, .ui-dropdown .ui-widget-header .ui-priority-primary {
  font-weight: bold;
}

.ui-dropdown .ui-priority-secondary, .ui-dropdown .ui-widget-content .ui-priority-secondary, .ui-dropdown .ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: Alpha(Opacity=70);
  font-weight: normal;
}

.ui-dropdown .ui-state-disabled, .ui-dropdown .ui-widget-content .ui-state-disabled, .ui-dropdown .ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter: Alpha(Opacity=35);
  cursor: default !important;
}

.ui-dropdown .ui-widget-overlay {
  opacity: .75;
  filter: Alpha(Opacity=75);
  background-color: #282e28;
}

.ui-dropdown .ui-widget-shadow {
  -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}


/* PrimeFaces Extensions */
/*
.ui-dropdown .ui-inputtext, .ui-dropdown .ui-widget-content .ui-inputtext, .ui-dropdown .ui-widget-header .ui-inputtext {
  background: #ffffff;
  border: 2px solid #d7d7d7;
  color: #222222;
}

.ui-dropdown .ui-inputtext.ui-state-hover, .ui-dropdown .ui-widget-content .ui-inputtext.ui-state-hover, .ui-dropdown .ui-widget-header .ui-inputtext.ui-state-hover {
  border-color: #778877;
}

.ui-dropdown .ui-inputtext.ui-state-focus, .ui-dropdown .ui-widget-content .ui-inputtext.ui-state-focus, .ui-dropdown .ui-widget-header .ui-inputtext.ui-state-focus {
  -moz-box-shadow: 0px 0px 5px #8B798B, inset 0 2px 2px #8f8f8f;
  -webkit-box-shadow: 0px 0px 5px #8B798B, inset 0 2px 2px #8f8f8f;
  box-shadow: 0px 0px 5px #8B798B, inset 0 2px 2px #8f8f8f;
  border-color: #8B798B;
}

.ui-dropdown .ui-tree .ui-tree-nodes .ui-tree-node {
  filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
}*/



/********** dropdown ***********/


/********* custom css **********/

.login_outer_style{
    color:black;
    background: white;
    padding: 0% 4% 0% 4%;
    text-align: center;
    border-radius:25px;
    color: #828282;
    font-weight: normal;
}
/*.fb>button{
    width: 100%;
    background: #4D67A0;
    border: 1px solid #4D67A0;
}
.fb>button:hover{
    background: #365899;
    outline:none;
}   */
/********* custom css **********/




/***************date picker structure *****************/

/* Datepicker */
.ui-datepicker {
    width: 17em;
    padding: .2em .2em 0;
    display: none;
}
/*.ui-widget-content { border: 1px solid #dddddd; background: #ffffff; color: #333333; }*/
/*.ui-widget-content a { color: #333333; }*/
/*.ui-widget-header { border: 1px solid #eeeeee; background: #f5f5f5; color: #333333; font-weight: bold; }*/
/*.ui-widget-header a { color: #333333; }*/

.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
    border: 1px solid #eeeeee; background: #f5f5f5; color: #333333; font-weight: bold;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
    top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
    left: 2px;
}
.ui-datepicker .ui-datepicker-next {
    right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
    left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
    right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 45%;
}
.ui-datepicker table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;
    border: 1px solid #dddddd; background: #ffffff; color: #333333;
}
.ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
}
.ui-datepicker td {
    border: 0;
    padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
    display: block;
    padding: .2em;
    text-align: right;
    text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    margin: .7em 0 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
    float: right;
    margin: .5em .2em .4em;
    cursor: pointer;
    padding: .2em .6em .3em .6em;
    width: auto;
    overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
    width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
    float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
    width: 95%;
    margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
    width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
    width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
    width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
    clear: left;
}
.ui-datepicker-row-break {
    clear: both;
    width: 100%;
    font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
    direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
    right: 2px;
    left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
    left: 2px;
    right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
    right: 1px;
    left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
    left: 1px;
    right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
    clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
    float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
    float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
    border-right-width: 0;
    border-left-width: 1px;
}

.ui-datepicker .ui-state-default, .ui-datepicker .ui-widget-content .ui-state-default,
.ui-datepicker .ui-widget-header .ui-state-default {
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -ms-linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.ui-datepicker .ui-state-hover, .ui-datepicker .ui-widget-content .ui-state-hover, .ui-datepicker .ui-widget-header .ui-state-hover,
.ui-datepicker .ui-state-active, .ui-datepicker .ui-widget-content .ui-state-active, .ui-datepicker .ui-widget-header .ui-state-active,
.ui-datepicker .ui-state-disabled, .ui-datepicker .ui-widget-content .ui-state-disabled, .ui-datepicker .ui-widget-header .ui-state-disabled {
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.ui-datepicker .ui-state-active, .ui-datepicker .ui-widget-content .ui-state-active, .ui-datepicker .ui-widget-header .ui-state-active {
  background-color: #cccccc \9;
}

.ui-datepicker .ui-state-hover, .ui-datepicker .ui-widget-content .ui-state-hover,
.ui-datepicker .ui-widget-header .ui-state-hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
      -ms-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.ui-datepicker .ui-state-focus, .ui-datepicker .ui-widget-content .ui-state-focus, .ui-datepicker .ui-widget-header .ui-state-focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.ui-datepicker .ui-state-active, .ui-datepicker .ui-widget-content .ui-state-active, .ui-datepicker .ui-widget-header .ui-state-active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.ui-datepicker .ui-state-disabled, .ui-datepicker .ui-widget-content .ui-state-disabled, .ui-datepicker .ui-widget-header .ui-state-disabled {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}



.ui-datepicker .ui-state-default, .ui-datepicker .ui-widget-content .ui-state-default, .ui-datepicker .ui-widget-header .ui-state-default {
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}



/*.ui-widget-content { border: 1px solid #dddddd; background: #ffffff; color: #333333; }
.ui-widget-header { border: 1px solid #eeeeee; background: #f5f5f5; color: #333333; font-weight: bold; }*/

 .ui-icon
{ width: 16px;
 height: 16px;
 background-image: url("../images/ui-icons_333333_256x240.png");
}

.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }



/********checkbox Style ************888*/
.ui-chkbox {
    display: inline-block;
    cursor: pointer;
}

.ui-chkbox .ui-chkbox-box {
    float: left;
    width: 16px;
    height: 16px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin-right: 3px;
}
.ui-chkbox .ui-chkbox-box {
    float: left;
    width: 16px;
    height: 16px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin-right: 3px;
}

.ui-chkbox .ui-chkbox-icon {
    color: #39b54a;
    margin-top: 1px;
    margin-left: -1px;
}

.ui-chkbox .ui-chkbox-label {
    cursor: pointer;
    display: block;
    margin: 0 3px;
    outline: medium none;
    z-index: 1;
    float: left;
}


.ui-chkbox .ui-state-default, .ui-chkbox .ui-widget-content .ui-state-default, .ui-chkbox .ui-widget-header .ui-state-default {
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #fff;

  border: 1px solid #d7d7d7;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
  /*-webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;*/
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}


.ui-chkbox .ui-state-hover, .ui-chkbox .ui-widget-content .ui-state-hover, .ui-chkbox .ui-widget-header .ui-state-hover,
.ui-chkbox .ui-state-active, .ui-chkbox .ui-widget-content .ui-state-active, .ui-chkbox .ui-widget-header .ui-state-active,
.ui-chkbox .ui-state-disabled, .ui-chkbox .ui-widget-content .ui-state-disabled, .ui-chkbox .ui-widget-header .ui-state-disabled {
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

/*.ui-chkbox .ui-state-default, .ui-chkbox .ui-widget-content .ui-state-default, .ui-chkbox .ui-widget-header .ui-state-default {
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}*/

.ui-chkbox .ui-state-active, .ui-chkbox .ui-widget-content .ui-state-active, .ui-chkbox .ui-widget-header .ui-state-active {
  background-color: #000 \9;
  border-color: #39b54a
}

.ui-chkbox .ui-state-hover, .ui-chkbox .ui-widget-content .ui-state-hover, .ui-chkbox .ui-widget-header .ui-state-hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
      -ms-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.ui-chkbox .ui-state-focus, .ui-chkbox .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.ui-chkbox .ui-state-active, .ui-chkbox .ui-widget-content .ui-state-active, .ui-chkbox .ui-widget-header .ui-state-active {
  background-color: #ffffff;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.ui-chkbox .ui-state-disabled, .ui-chkbox .ui-widget-content .ui-state-disabled, .ui-chkbox .ui-widget-header .ui-state-disabled {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}


/***************authentication header ***********/
.heading{
    padding: 8px 0px 8px 0px;
}
.heading h2 {
    color: #8dcf24;
    font-family: 'ChaletComprime CologneEighty';
    font-weight: normal;
}
