input { 
    width: 96%;
}


.footer{
     padding: 0px 0px 15px 0px;
     
}

.terms_conditions{
    padding: 20px 0px 10px 0px;
    // color: #828282;
}

.terms_conditions small {
    color:#8DCF25;
}

.or{
     padding: 10px 0px 10px 0px;
}
.forget-password a:hover, .signup a:focus
.forget-password a:hover, .signup a:hover{
    color: #8DCF25;
}
.signup a {
    color: #828282;
    text-decoration: none;
    font-size: 0.8em;
    float: right;
    padding-right: 9%;
    font-size: 1em;
    font-weight: normal;
}


// .reset{
//     // margin-top: 9%;
//     margin-bottom: 2%;
// }

// .reset>button{
//     padding: 2px 50px;
//     border-radius: 25px;
//     font-size: 16px;
//     background: #8DCF25;
//     border:1px solid #8DCF25;
// }

// .reset_heading{
//     padding-top: 5%; 
// }

// .top{
//     padding-bottom: 4%; 
// }

// .email>input[type="text"] {
//     padding: 2% 27% 2% 4%;
//     border-radius: 25px;
//     border: 1px solid #cfcfcf;
//     background: #f2f2f2;
// }

// .email{
//      margin-bottom: 3%;
// }

// .unas{
//     color:#8DCF25;
//     text-align:left;
// }
// .ya{
//     text-align:right;
//     padding-right:10px;
// }