<!--<h1>Forgot Password</h1>-->
<div class="login_outer_style">
    <div class="ui-grid-row heading">
        <div class="ui-grid-col-12">
            <h2>¿OLVIDASTE TU CLAVE?</h2>
        </div>
    </div>
    <div *ngIf="show_email_field" id="auth">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
            <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                    <p>Le enviaremos un enlace para restablecer tu contraseña.</p>
                </div>
            </div>
            <div class="ui-grid-row auto_padding">
                <div class="ui-grid-col-12">
                    <input type="text" pInputText placeholder="Escribe Email" #email/>
                </div>
            </div>
            <div class="ui-grid-row auto_padding">
                <div class="ui-grid-col-12">
                    <button pButton type="button" label="REAJUSTAR" class="ui-button-green" (click)="resetPassword(email.value)"></button>
                </div>
            </div>
            <div class="ui-grid-row footer">
                <div class="ui-grid-col-12 ">
                    <p><span>   Ya tlenes una cuenta?</span><a [routerLink]="['/home', 'login']" style="text-decoration: none;color: #8DCF25;font-size: 1em;font-weight:normal;">
                        Sign In!
                    </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!show_email_field">
        <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                <p>Hemos enviado un enlace de restablecer contraseña a tu cuenta de correo electrónico.</p>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                <a [routerLink]="['/reset-password-token']" style="color:#8DCF25; text-decoration: none;">
                    <p>Get Token</p>
                </a>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                <a [routerLink]="['/home', 'login']" style="color:#8DCF25; text-decoration: none;">
                    <p>Sign In!</p>
                </a>
            </div>
        </div>
    </div>
</div>