/************* font family ******************/

@font-face {
    font-family: headingFont;
    src: url(fonts/fonts.ttf);
}

@font-face {
    font-family: paragraphFont;
    src: url(fonts/Montserrat-Regular.ttf);
}

/************* font family ******************/


/*********** common css *************/

html {
    font-family: paragraphFont;
    font-size: 12px;
    margin: 0;
}

body {
    font-family: paragraphFont;
    font-size: 12px;
    margin: 0;
    color: #373a3c;
     background-color: #fff;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

h1 {
    font-family: inherit;
    font-size: 5em;
     margin: 0;
}

h2 {
    font-family: inherit;
    font-size: 2.5em;
     margin: 0;
}
h3 {
    font-family: inherit;
    font-size: 2em;
     margin: 0;
}
h4 {
    font-family: inherit;
    font-size: 1em;
     margin: 0;
}
h5 {
    font-family: inherit;
    font-size: 0.8em;
     margin: 0;
}
p{
    margin: 0;
}

label{
    margin: 0;
}

span{
    margin: 0;
}

.auto_margin{
    padding:10px 10px; 
}
.auto_padding{
    padding-top: 10px;
}

/*********** common css *************/


/************* Input field *************/

.ui-inputtext {
    width: 100%;
    font-weight: normal;
    border-radius: 25px;
    border: 1px solid #cfcfcf;
    height: 35px;
    font-family: inherit;
    font-size: 1em;
    background: #f2f2f2;
    color: #828282;
    padding: 10px;
}

.ui-inputtext:hover{
  border:1px solid #a4a4a4;
}
.ui-inputtext:focus{
border:1px solid #8DCF25;
}


.ui-widget-header .ui-inputtext,
.ui-widget-content .ui-inputtext {
    font-weight: normal;
}

.ui-fluid .ui-inputtext {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}
.ui-inputtextarea-resizable {
    overflow: hidden;
    resize:none;
}

.ui-fluid .ui-inputtextarea {
    width: 100%;
}

.ui-inputtext .ui-state-default, .ui-inputtext .ui-widget-content .ui-state-default, .ui-inputtext .ui-widget-header .ui-state-default {
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -ms-linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.ui-inputtext .ui-state-hover, .ui-inputtext .ui-widget-content .ui-state-hover, .ui-inputtext .ui-widget-header .ui-state-hover,
.ui-inputtext .ui-state-active, .ui-inputtext .ui-widget-content .ui-state-active, .ui-inputtext .ui-widget-header .ui-state-active,
.ui-inputtext .ui-state-disabled, .ui-inputtext .ui-widget-content .ui-state-disabled, .ui-inputtext .ui-widget-header .ui-state-disabled {
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.ui-inputtext .ui-state-active, .ui-inputtext .ui-widget-content .ui-state-active, .ui-inputtext .ui-widget-header .ui-state-active {
  background-color: #cccccc \9;
}

.ui-inputtext .ui-state-hover, .ui-inputtext .ui-widget-content .ui-state-hover, .ui-inputtext .ui-widget-header .ui-state-hover {
  color: #333333;
text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
      -ms-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.ui-inputtext .ui-state-focus, .ui-inputtext .ui-widget-content .ui-state-focus, .ui-inputtext .ui-widget-header .ui-state-focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.ui-inputtext .ui-state-active, .ui-inputtext .ui-widget-content .ui-state-active, .ui-inputtext .ui-widget-header .ui-state-active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.ui-inputtext .ui-state-disabled, .ui-inputtext .ui-widget-content .ui-state-disabled, .ui-inputtext .ui-widget-header .ui-state-disabled {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.ui-inputtext .ui-state-default, .ui-inputtext .ui-widget-content .ui-state-default, .ui-inputtext .ui-widget-header .ui-state-default {
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
/************* Input field *************/



/************** button ***************/

.ui-button {
    display: inline-block;
    position: relative;
    padding: 5px;
    margin-right: .1em;
    text-decoration: none !important;
    cursor: pointer;
    text-align: center;
    zoom: 1;
    overflow: visible;
    border-radius: 25px;
    color: white;
    width: 100%;
    font-size: 1.2em;
    border: none;
    outline: none;
    
}

button.ui-button.ui-button-green {
     background-color:#8DCF25 !important;
}

button.ui-button.ui-button-blue {
     background-color:#4D67A0 !important;
}

.ui-button-icon-only {
    width: 2.4em;
}

/*button text element */
.ui-button .ui-button-text {
    display: block;
    line-height: normal;
}

.ui-button-text-only .ui-button-text {
    padding: .3em 1em;
}

.ui-button-icon-only .ui-button-text {
    padding: .3em;
    text-indent: -9999999px;
}

.ui-button-text-icon-left .ui-button-text {
    padding: .3em 1em .3em 2.1em;
}

.ui-button-text-icon-right .ui-button-text {
    padding: .3em 2.1em .3em 1em;
    outline:none;
}

/*button icon element(s) */
.ui-button-icon-only .fa,
.ui-button-text-icon-left .fa,
.ui-button-text-icon-right .fa {
    position: absolute;
    top: 50%;
    margin-top: -7px;
}

.ui-button-icon-only .fa {
    left: 50%;
    margin-left: -8px;
}

.ui-button-icon-left {
    left: .5em;
}

.ui-button-icon-right {
    right: .5em;
}

/*button sets*/
.ui-buttonset {
    margin-right: 7px;
}
.ui-buttonset .ui-button {
    margin-left: 0;
    margin-right: 0;
}
/************** button ***************/

/************** tabview  ************/
.ui-tabview {
    position: relative; 
    padding: .2em; 
    zoom: 1; 
} /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */

.ui-tabview .ui-tabview-nav { 
    margin: 0;
}

.ui-tabview .ui-tabview-nav li { 
    list-style: none; 
    float: left; 
    position: relative; 
    margin: 0 .2em 1px 0;  
    padding: 0; 
    white-space: nowrap; 
}

/*.ui-tabview.ui-tabview-border-none{
    border: none;
}*/

.ui-tabview .ui-tabview-nav li a { 
    float: left; 
    padding: .5em 1em; 
    text-decoration: none; 
    color: black;
}

.ui-tabview .ui-tabview-nav li.ui-tabview-selected a, 
.ui-tabview .ui-tabview-nav li.ui-state-disabled a, 
.ui-tabview .ui-tabview-nav li.ui-state-processing a { 
    cursor: text; 
}

.ui-tabview .ui-tabview-nav li a, 
.ui-tabview.ui-tabview-collapsible .ui-tabview-nav li.ui-tabview-selected a { 
    cursor: pointer; 
    border-top:  1px solid black;
    border-left:  1px solid black;
    border-right:  1px solid black;
} /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */

.ui-tabview .ui-tabview-panel { 
    border-width: 0; 
    padding: 1em 1.4em; 
    background: none; 
}

.ui-tabview .ui-tabview-nav li { 
    display: block; 
}

.ui-tabview .ui-tabview-nav li .ui-tabview-left-icon,
.ui-tabview .ui-tabview-nav li .ui-tabview-right-icon { 
    vertical-align: text-top;
}

.ui-tabview .ui-tabview-nav li .ui-tabview-close { 
    margin: 0.5em 0.3em 0 0; 
    cursor: pointer; 
}

/* per orientation settings */
/* top and bottom */
.ui-tabview.ui-tabview-top > .ui-tabview-nav li { 
    border-bottom: 0;
    top: 1px; 
    font-size: 16px;
}

.ui-tabview.ui-tabview-top > .ui-tabview-nav { 
    padding: .2em .2em 0; 
    border-bottom: 1px solid black;
}

.ui-tabview.ui-tabview-bottom > .ui-tabview-nav { 
    padding: 0 .2em .2em; 
}

.ui-tabview.ui-tabview-bottom > .ui-tabview-nav li { 
    border-top: 0;
}

/* left and right*/
.ui-tabview-left:after,
.ui-tabview-right:after {
    clear:both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.ui-tabview-left > .ui-tabview-nav {
    float:left;
    width:23%;
    height:300px;
    background-image: none;
    padding-top:1px;
}

.ui-tabview-left > .ui-tabview-panels {
    float:right;
    width:75%;
}

.ui-tabview.ui-tabview-left > .ui-tabview-nav li,
.ui-tabview.ui-tabview-right > .ui-tabview-nav li{
    display: block;
    float: right;
    white-space: normal;
    width: 98%;
}

.ui-tabview.ui-tabview-left > .ui-tabview-nav li {
    margin:0 0 1px 0.2em;
    border-right:0 none;
}

.ui-tabview.ui-tabview-right > .ui-tabview-nav {
    float:right;
    width:23%;
    height:300px;
    background-image: none;
    padding-top:1px;
}

.ui-tabview.ui-tabview-right > .ui-tabview-panels {
    float:left;
    width:75%;
}

.ui-tabview.ui-tabview-right > .ui-tabview-nav li {
    margin:0 0.2em 1px 0;
    border-left:0 none;
}
/************** tabview  ************/

/********** dropdown ***********/
.ui-dropdown {
    display: inline-block;
    position: relative;
    width: auto;
    zoom: 1;
    cursor: pointer;
    padding-right: 2em;
    border:1px solid #cfcfcf;
    border-radius:25px;
}
.ui-dropdown:hover{
    border:1px solid #a4a4a4;
}
.ui-dropdown:active{
    border:1px solid #8DCF25;
}
.ui-dropdown .ui-dropdown-trigger {
    border-right: none;
    border-top: none;
    border-bottom: none;
    cursor: pointer;
    width: 16px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 3px;
}

.ui-dropdown .ui-dropdown-trigger .fa {
    margin-top: 11px;
    margin-left: -1px;
}

.ui-dropdown .ui-dropdown-label  {
    display: block;
    border: none;
    white-space: nowrap;
    overflow: hidden;
    font-weight: normal;
    width: 100%;
    float:left;
}

.ui-dropdown.ui-state-disabled .ui-dropdown-trigger,
.ui-dropdown.ui-state-disabled .ui-dropdown-label {
    cursor: default;
}

.ui-dropdown label.ui-dropdown-label  {
    cursor: pointer;
}

.ui-dropdown input.ui-dropdown-label  {
    cursor: default;
}

.ui-dropdown .ui-dropdown-panel {
    min-width: 100%;
}

.ui-dropdown-panel {
    position: absolute;
    height: auto;
}

.ui-dropdown-panel .ui-dropdown-items-wrapper {
    overflow: auto;
}

.ui-dropdown-panel .ui-dropdown-item {
    font-weight: normal;
    border:0px none;
    cursor:pointer;
    margin:1px 0;
    padding:3px 5px;
    text-align:left;
}
.ui-dropdown-panel .ui-dropdown-item-group {
    font-weight: bold;
}
.ui-dropdown-panel .ui-dropdown-list {
    padding: 0.4em;
    border: 0 none;
}
.ui-dropdown-panel .ui-dropdown-filter {
    width: 100%;
    padding-right:18px;
    box-sizing: border-box;
}
.ui-dropdown-panel .ui-dropdown-filter-container {
    position: relative;
    margin: 0;
    padding: 0.4em;
    display: inline-block;
}
.ui-dropdown-panel .ui-dropdown-filter-container .fa {
    position: absolute;
    top: 12px;
    right: 15px;
}
/********** dropdown ***********/


/********* custom css **********/

.login_outer_style{
    color:black;
    background: white;
    padding: 0% 4% 0% 4%;
    text-align: center;
    border-radius:25px;
}
/*.fb>button{
    width: 100%;
    background: #4D67A0;
    border: 1px solid #4D67A0;
}
.fb>button:hover{
    background: #365899;
    outline:none;
}   */
/********* custom css **********/